params {
    publish_mode = "symlink"
}

/* section below needs to be adjusted to local cluster */
executor {
    $slurm {
        queueSize = 10
    }
    $local {
        cpus = 1
        memory = '4 GB'
    }
}

process {
    withName: qc_preprocess {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 4
        memory = {8.GB * task.attempt}
        time = '2h'
        maxRetries = 3
    }
    withName: qc_preprocess_singles {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 4
        memory = {8.GB * task.attempt}
        time = '2h'
        maxRetries = 3
    }
}
