/* section below needs to be adjusted to local cluster */
executor {
	$slurm {
		queueSize = 30
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}

process {
	cache = "lenient"
	container = "oras://ghcr.io/cschu/vortex_knight@sha256:f01a08ba83c59e9ddb5ce69c2f3bd2179e13122e631f4836444699a9f064dd8d"
	executor = "slurm"
	errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
	maxRetries = 3
	withName: transfer_bams {
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '7d'
	}
	withName: transfer_fastqs {
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '7d'
	}
	withName: prepare_fastqs {
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '7d'
	}
	withName: fastqc {
		cpus = 2
		memory = {4.GB * task.attempt}
		time = '7d'
	}
	withName: multiqc {
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '7d'
	}
	withName: fq2fa {
		cpus = 1
		memory = {8.GB * task.attempt}
		time = {2.h * task.attempt}
	}
	withName: bam2fq {
		cpus = 8
		memory = {bam.size() < 10.GB ? 8.GB * task.attempt : (bam.size() < 30.GB ? 16.GB * task.attempt : 32.GB * task.attempt)}
		time = '7d'

	}
	withName: fq2bam {
		cpus = 2
		memory = {32.GB * task.attempt}
		time = '7d'
	}
	withName: flagstats {
		cpus = 2
		memory = {2.GB * task.attempt}
		time = '7d'
	}
	withName: remove_host_kraken2 {
		cpus = 8
		memory = {64.GB * task.attempt}
		time = '7d'
	}
	withLabel: kraken2 {
		cpus = 8
		memory = {64.GB * task.attempt}
		time = '7d'
	}
	withName: mtags_extract {
		cpus = 24
		memory = {64.GB * task.attempt}
		time = {reads.size() < 10.GB ? '24h' : '7d'}
	}
	withName: mtags_annotate {
		cpus = 24
		memory = {64.GB * task.attempt}
		time = '7d'
	}
	withName: mtags_merge {
		cpus = 1
		memory = {2.GB * task.attempt}
		time = '24h'
	}
	withName: motus {
		cpus = 6
		memory = {16.GB * task.attempt}
		time = '7d'
	}
	withName: pathseq {
		cpus = 1
		memory = {256.GB * task.attempt}
		time = '7d'
	}
	withName: collate_mapseq_tables {
		cpus = 1
		memory = {2.GB * task.attempt}
		time = '24h'
	}
	withLabel: mapseq {
		cpus = 16
		memory = {8.GB * task.attempt}
		time = '7d'
	}
	withLabel: bbduk {
		cpus = 4
		memory = {8.GB * task.attempt}
		time = '2h'
	}
	withName: concat_singles {
		cpus = 1
		memory = '2.GB'
		time = '8h'
	}
	withName: read_counter {
		cpus = 4
		memory = {128.GB * task.attempt}
		time = '8h'
	}
	withName: collate_results {
		container = "oras://ghcr.io/cschu/container-forge@sha256:4ee1b81a228c0101ff0ea3ebee4e367457858b13bf1754879c03fcc3055a5226"
		publishDir = [ path: params.output_dir, mode: "copy" ]
		cpus = 1
		memory = {16.GB * task.attempt}
		time = {8.h * task.attempt}
	}
	withName: idtaxa {
        publishDir = [ path: params.output_dir, mode: "copy" ]
		container = "oras://registry.git.embl.de/schudoma/vknight_forge/vknight_forge:1213b0e1"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		memory = {8.GB * task.attempt}
	}
}

singularity {
	enabled = true
	autoMounts = true
}
