/* section below needs to be adjusted to local cluster */
executor {
	$slurm {
		queueSize = 30
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}

process {
	cache = "lenient"
	clusterOptions = '-p htc-el8'
	container = "oras://ghcr.io/cschu/vortex_knight@sha256:f01a08ba83c59e9ddb5ce69c2f3bd2179e13122e631f4836444699a9f064dd8d"
	withName: transfer_bams {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withName: transfer_fastqs {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withName: prepare_fastqs {
		executor = "slurm"
		container = null
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withName: fastqc {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {4.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withName: multiqc {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '7d'
		maxRetries = 3
		publishDir = [ path: params.output_dir, mode: params.publish_mode ]
	}
	withName: fq2fa {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {8.GB * task.attempt}
		time = {2.h * task.attempt}
		maxRetries = 3
	}
	withName: bam2fq {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {bam.size() < 10.GB ? 8.GB * task.attempt : (bam.size() < 30.GB ? 16.GB * task.attempt : 32.GB * task.attempt)}
		time = '7d'
		maxRetries = 3
	}
	withName: fq2bam {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {32.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withName: flagstats {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {2.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withName: remove_host_kraken2 {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {64.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withLabel: kraken2 {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {64.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withName: mtags_extract {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 24
		memory = {64.GB * task.attempt}
		time = {reads.size() < 10.GB ? '3d' : '7d'}
		maxRetries = 3
	}
	withName: mtags_annotate {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 24
		memory = {64.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withName: mtags_merge {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {2.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: motus {
		executor = "slurm"
		container = "oras://ghcr.io/cschu/vortex_knight@sha256:54a84560c0f50747c8f52b799908aba109b69386ed4a35148385ccd518dcd28b"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 6
		memory = {16.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withName: pathseq {
		executor = "slurm"
		errorStrategy = {task.attempt <= 8 ? "retry" : "ignore"}
		cpus = 1
		memory = {256.GB * task.attempt}
		time = '7d'
		maxRetries = 8
	}
	withName: collate_mapseq_tables {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {2.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withLabel: mapseq {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 16
		memory = {8.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withLabel: bbduk {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 4
		memory = {8.GB * task.attempt}
		time = '2h'
		maxRetries = 3
	}
	withName: qc_bbmerge {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 4
		memory = {16.GB * task.attempt}
		time = '2h'
		maxRetries = 3
	}
	withName: concat_singles {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = '2.GB'
		time = '8h'
		maxRetries = 3
	}
	withName: read_counter {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 4
		memory = {128.GB * task.attempt}
		time = '8h'
		maxRetries = 3
	}
	withName: collate_results {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {16.GB * task.attempt}
		time = {8.h * task.attempt}
		maxRetries = 3
	}
}

singularity {
	enabled = true
	autoMounts = true
}
